<!DOCTYPE html>
<html>
<head>
    <title>Document Laws</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Document Laws</h1>
    {{ pagination.info }}
    <table>
        <tr>
            <th>ID</th>
            <th>Название закона</th>
            <th>Дата</th>
            <th>Ссылка</th>
            <th>Вид закона</th>
            <th>Текст</th>
            <th>Токены</th>
            <th>Обработанный текст</th>
            <th>Номер темы</th>
            <th>Утратившие силу</th>
            <th>Упоминаемые законы</th>
        </tr>
        {% for law in laws_data %}
        <tr>
            <td>{{ law['ID'] }}</td>
            <td>{{ law['Название закона'] }}</td>
            <td>{{ law['Дата'] }}</td>
            <td>{{ law['Ссылка'] }}</td>
            <td>{{ law['Вид закона'] }}</td>
            <td>{{ law['Текст'] }}</td>
            <td>{{ law['Токены'] }}</td>
            <td>{{ law['Обработанный текст'] }}</td>
            <td>{{ law['Номер темы'] }}</td>
            <td>{{ law['Утратившие силу'] }}</td>
            <td>{{ law['Упоминаемые законы'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}
</body>
</html>
