<!DOCTYPE html>
<html>
<head>
    <title>Правовые документы РФ</title>
</head>
<body>
    <!-- Форма для ввода текста и кнопка "Искать" -->
    <form action="/" method="POST">
        <input type="text" name="search_text" placeholder="Введите текст для поиска">
        <button type="submit">Искать</button>
    </form>

    <!-- <h1>Результаты обработки данных:</h1> -->
    <!-- <ul> -->
    <!-- {% for result in results %} -->
    <!--     <li>{{ result }}</li> -->
    <!-- {% endfor %} -->
    <!-- </ul> -->

    <!-- Ссылка для просмотра всех данных -->
    <a href="/laws">Посмотреть все</a>
</body>
</html>
